{% extends "web_site/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
{% block article %}
<div>
  <article class="contact">
    <h1>Kontakt</h1>
    <div>
      <div class="contact-item">
        <img class="my-icon" src="/static/web_site/icons/email-icon.svg" alt="email" >
        <div class="text-wrapper">
          <p class="text-center">{{contact_list.email}}</p>
        </div>
      </div>
      <div class="contact-item">
        <img class="my-icon" src="/static/web_site/icons/telephone-icon.svg" alt="tel">
        <div class="text-wrapper">
          <p>{{contact_list.telephone}}</p>
        </div>
      </div>
    </div>
</div>
</article>
</div>
{% endblock %}

</html>