# Python
__pycache__/*
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media
staticfiles
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE / Editors
.vscode/
.idea/
*.swp
*~

# Pytest / Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
*.iml
*.ipr
*.iws
out/

# Mac / Linux / Windows junk
.DS_Store
Thumbs.db

# uploads

**/uploads/** 
!**/uploads/.gitkeep
